html, body {
  width: 100%;
  height: 100%;
  margin:0;
	padding:0;

}

.fullscreen {
  position:relative;
  width: 100%;
  height: 100%;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: bold;
  font-size: 20px;
}

.footer-wrapper {
  position: fixed;
	bottom:0;
  width: 100%;
}


.wrapper {
  position:absolute;
  top: 0px;
  bottom: 5px;
  width: 100%;
}


#connection {
  height: 00px;
  margin: 0;
  background-color: red;

  -webkit-transition: height 300ms ease-in;
	-moz-transition: height 300ms ease-in;
	-ms-transition: height 300ms ease-in;
	-o-transition: height 300ms ease-in;
        transition: height 300ms ease-in;
}

#connection.open {
  height: 30px;
}
